body{

font-family: Arial, sans-serif;

background:
linear-gradient(
120deg,
#d4fc79,
#96e6a1
);

}


.container{


width:450px;

margin:50px auto;

background:white;

padding:30px;

border-radius:15px;

box-shadow:
0px 10px 25px rgba(0,0,0,0.2);


}



h1{

text-align:center;

color:#228B22;

}



label{

display:block;

margin-top:15px;

font-weight:bold;

}



input{


width:100%;

padding:10px;

margin-top:5px;

border-radius:8px;

border:1px solid #ccc;


}



button{


margin-top:25px;

width:100%;

padding:12px;

background:#228B22;

color:white;

font-size:18px;

border:none;

border-radius:10px;

cursor:pointer;


}



button:hover{


background:#145214;


}



.result{


text-align:center;


}



span{


color:#228B22;

font-weight:bold;


}